<%- include('header'); -%>
<br><br><br><br><br>
<link href="https://getbootstrap.com/docs/4.2/examples/floating-labels/floating-labels.css" rel="stylesheet">
<form class="form-signin" method="POST" action="/users/login">

<div class="card mb-4">
  <img class="card-img-top" src="/images/logo.png" alt="Card image cap"><br>
</div>


<div class="card mb-4">
<%- messages('message', locals) %>
</div>

<div class="form-label-group">
<input type="number" id="inputRegno" class="form-control" placeholder="Registration Number" name="username" required autofocus>
<label for="inputRegno">Registration Number</label>
</div>

<div class="form-label-group">
<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
<label for="inputPassword">Password</label>
</div>


<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>
</body>
</html>
